
@{
    ViewBag.Title = "Resultados";
}

<h2>Resultados</h2>

<h3>@Model.Cedula</h3>
<h3>@Model.Nombre</h3>
<h3>@Model.Apellido</h3>
<h3>@Model.Edad</h3>
<h3>@Model.Telefono</h3>
<h3>@Model.Email</h3>
<h3>@Model.Genero</h3>
<h3>@Model.Puesto</h3>

<img src="~/image/@ViewBag.picture" width="300" height="300" />
<br />
<a href="~/pdf/@ViewBag.curriculum">Abrir pdf</a>

